nav.nav.flex-column.nav-pills.nav-fill
  a.nav-link.active aria-current="page" href="#" = t('.moderated_bullitens')
  a.nav-link href="#" = t('.all_bulletins')
  a.nav-link href="#" = t('.all_categories')
